<!--<div class="row" style="margin: 0px">-->
  <!--<div class="col-sm-6 nopadding">-->
    <!--<line-chart [(innerWidth)]="width" [(innerHeight)]="height"></line-chart>-->
  <!--</div>-->
  <!--<div class="col-sm-6 nopadding">-->
    <!--<line-chart [(innerWidth)]="width" [(innerHeight)]="height"></line-chart>-->
  <!--</div>-->
  <!--<div class="w-100"></div>-->
  <!--<div class="col-sm-6 nopadding">-->
    <!--<line-chart [(innerWidth)]="width" [(innerHeight)]="height"></line-chart>-->
  <!--</div>-->
  <!--<div class="col-sm-6 nopadding">-->
    <!--<line-chart [(innerWidth)]="width" [(innerHeight)]="height"></line-chart>-->
  <!--</div>-->
<!--</div>-->

<div>
  Count: {{ count }}
  <button (click)="increment()">+</button>
  <button (click)="decrement()">-</button>
</div>

<button mat-mini-fab class="sidenav-fab" (click)="addItem()">
  <mat-icon>add</mat-icon>
</button>

<gridster [options]="options">
  <gridster-item [item]="item" *ngFor="let item of dashboard">
    <div class="button-holder">
      <div class="gridster-item-content" *ngIf="item.hasContent">
        <div class="stuff" style="display: flex;">
          <line-chart [(innerWidth)]="item.width" [(innerHeight)]="item.height"></line-chart>
        </div>
      </div>
      <div class="item-buttons" *ngIf="item.hasContent">
        <button mat-icon-button mat-raised-button class="drag-handler">
          <mat-icon>open_with</mat-icon>
        </button>
        <button mat-icon-button mat-raised-button class="remove-button" (mousedown)="removeItem($event, item)"
                (touchstart)="removeItem($event, item)" matTooltip="Remove">
          <mat-icon>clear</mat-icon>
        </button>
      </div>
      <label *ngIf="!item.hasContent">{{item.label}}</label>
      <button mat-mini-fab *ngIf="!item.hasContent" (mousedown)="removeItem($event, item)"
              (touchstart)="removeItem($event, item)" matTooltip="Remove">
        <mat-icon>clear</mat-icon>
      </button>
    </div>
  </gridster-item>
</gridster>

